* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html, body { height: 100%; }

a { color: inherit; text-decoration: none }

ul, ol {
    list-style: none;
}

body {
    font-size: 14px;
    color: #666666;
    min-width: 1200px;
    font-family: '微软雅黑';
}

a, button {
    cursor: pointer;
}

.box-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
input,
textarea {
    font-family: inherit;
}

.header {
    height: 100px;
    line-height: 100px;
    background-color: #f6f8fb;
}
.header .box-inner {
    height: 100%;
}
.header__logo {
    font-size: 28px;
    float: left;
    color: #7f7bec;
    font-weight: bold;
}
.header__search {
    width: 260px;
    height: 30px;
    float: left;
    margin-left: 40px;
    margin-top: 35px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 35px;
    position: relative;
    line-height: 30px;
}
.header__search input[type=text] {
    background-color: rgba(0, 0, 0, 0);
    width: 210px;
    border: none;
    height: 28px;
    float: left;
}
#search__btn {
    height: 30px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: #7f7bec;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    opacity: .5;
    transition: 300ms;
}
#search__btn:hover {
    opacity: 1;
}
.header__nav {
    float: right;
    padding-right: 30px;
}
.header__nav li {
    padding: 0 15px;
    display: inline-block;
}
.login__btn {
    display: block;
    float: right;
    color: #fff;
    text-align: center;
    width: 100px;
    background-color: #7f7bec;
    border-radius: 20px;
    margin-top: 30px;
    line-height: 40px;
    display: none;
}

#login__tip {
    position: fixed;
    z-index: 99999;
    height: 100px;
    line-height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(127, 123, 236, .6);
    color: #fff;
    display: none;
}
#login__tip a {
    display: inline-block;
    height: 40px; width: 80px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #7f7bec;
    margin-left: 10px;
}
#user__head {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    float: right;
}
#user {
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 30px;
    position: relative;
    transition: 300ms;
    overflow: hidden;
    border-left: 1px solid rgba(0, 0, 0, 0);
    display: none;
}
#user:hover {
    width: 110px;
    border-left: 1px solid rgba(0, 0, 0, .1);
}
#user .user__options {
    height: 40px;
    width: 50px;
    position: absolute;
    z-index: 999;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    background-color: #f4f4f4;
    right: 50px;
}
#user .user__options a {
    display: block;
    height: 50%;
    line-height: 25px;
}