
.header__logo,
.login__btn {
    transition: 300ms;
}

.banner {
    margin-top: 20px;
    height: 400px;
    position: relative;
}
.banner div[class^="banner"] {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    opacity: 0;
    z-index: -10;
    transition: 300ms;
}
.banner div[class^="banner"]:nth-child(1) {
    background-image: url(../src/banner1.jpg)
}
.banner div[class^="banner"]:nth-child(2) {
    background-image: url(../src/banner2.jpg)
}
.banner div[class^="banner"]:nth-child(3) {
    background-image: url(../src/banner3.jpg)
}

.banner a[class^=ctl] {
    height: 100%;
    width: 150px;
    position: absolute;
    top: 0;
    font-size: 100px;
    line-height: 400px;
    text-align: center;
    color: rgba(255, 255, 255, .4);
    z-index: 100;
}
.banner a[class^=ctl]:hover {
    color: rgba(255, 255, 255, 1);
}
.ctl-tl {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
.ctl-tr {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
.ctl-tl:hover {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5));
}
.ctl-tr:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5));
}
.banner div[class^="banner"].show {
    opacity: 1;
    z-index: 10;
}