.container {
    padding-top: 50px;
}
.note__title {
    letter-spacing: 1px;
    padding-bottom: 20px;
    font-size: 1.8em;
}
.note__info {
    padding-bottom: 10px;
    position: relative;
}
.note__info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.note__info #name,
.note__info #data {
    position: absolute;
    left: 60px;;
}
.note__info #name {
    top: 3px;
    transition: 300ms;
}
.note__info #name:hover {
    color: #7f7bec;
}
.note__info #data { bottom: 13px; }

.note__content {
    padding: 30px 0 130px 0;
    line-height: 2em;
    letter-spacing: 1px;
    font-size: 16px;
}