* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

a { color: inherit; }

p {
    letter-spacing: 2px;
    line-height: 2em;
}

img {
    max-width: 100%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
}

ul, ol {
    list-style: none;
}

html, body {
    height: 100%;
}
body {
    font-size: 14px;
    color: #666666;
    padding: 20px 15px;
    background-color: #f7f7f7;
}


/* function class */
.pdx {
    padding-left: 15px;
    padding-right: 15px;
}
.pdy {
    padding-top: 15px;
    padding-bottom: 15px
}
.pdl { padding-left: 15px; }
.pdr { padding-right: 15px; }
.pdt { padding-top: 15px; }
.pdb { padding-bottom: 15px; }


.mgr { margin-right: 15px; }
.mgl { margin-left: 15px; }
.mgt { margin-top: 15px; }
.mgb { margin-bottom: 15px; }

.hide {
    display: none!important;
}
.show {
    display: block!important;
}

.nav {
    font-size: 16px;
    color: #000;
    padding: 30px 0;
}

.index-img {
    margin-bottom: 30px;
}